/* fonts Glacial Indifference and Now */

@font-face {
    font-family: 'glacial-regular';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'glacial-bold';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf');
}

@font-face {
    font-family: 'glacial-italic';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf');
}

@font-face {
    font-family: 'now-regular';
    src: url('../assets/fonts/now/Now-Regular.otf');
}

@font-face {
    font-family: 'now-bold';
    src: url('../assets/fonts/now/Now-Bold.otf');
}

@font-face {
    font-family: 'now-black';
    src: url('../assets/fonts/now/Now-Black.otf');
}

/* html and body */
html,body, footer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* header image */
header{
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%), url('../assets/images/categories/restaurant-1.jpeg');
}

/* main divided left and right */
main {
    width: 80%;
    max-width: 1300px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    padding-top: 2em;
    display: flex;
    flex-flow: row wrap;
}


/* left list of categories */

main .left {
    width: 28%;
    display: flex;
    flex-direction: column;
}

main h2{
    color: #5e17eb;
    font-family: 'glacial-bold';
}

main .left li> a{
    text-decoration: none;
    font-family: 'glacial-regular';
    color: gray;
    transition: transform .2s;
}
  
main a:hover {
    transform: scale(1.1);
}


/* right list of businesses*/

main .right{
    width: 70%;
    display: flex;
    flex-direction: column;
}


main .right a{
    text-decoration: none;
    color: #5e17eb;
    padding: 1em;
}
  
main ul, li {
    padding: 0px;
    margin: 0px;
}

main .listing {
    display: flex;
    align-items: flex-start;
}

main .listing-photo {
    width: 30%;
    margin-right: 1em;
}

main .listing-photo img{
    width: 100%;
    height: 180px;
    object-fit: cover;


}



main .listing-information {
    width: 65%;
    max-width: 500px;
}

main h3{
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin:0;
    color: #5ce1e6;
    background-color: #5e17eb;
    font-family: 'glacial-bold';
}

main p {
    padding-left: 1em;
    font-family: 'glacial-regular';
    color: gray;
    height: fit-content;
}


/* responsive design */


/* tablet 768 to 1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {    

    main{
        padding-left: 2%;
        padding-right: 2%;
        width: auto;    
    }

    main .left {
        width: 26%;
        margin-left: 2%;
    }

    main .left-side-contact {
        width: 49%;
    }

}

/* telephone mobile under 768 */
@media screen and (max-width: 768px) {

    main {
        width: 90%;
        flex-flow: column wrap;
    }

    main .left {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    main .right{
        width: 90%;
    }

    main .listing-photo{
        max-width: 160px;
    }

    main .listing-photo img {
        min-height: 100px;
    }

}

