/* fonts Glacial Indifference and Now */

@font-face {
    font-family: 'glacial-regular';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf');
}

@font-face {
    font-family: 'glacial-bold';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf');
}

@font-face {
    font-family: 'glacial-italic';
    src: url('../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf');
}

@font-face {
    font-family: 'now-regular';
    src: url('../assets/fonts/now/Now-Regular.otf');
}

@font-face {
    font-family: 'now-bold';
    src: url('../assets/fonts/now/Now-Bold.otf');
}

@font-face {
    font-family: 'now-black';
    src: url('../assets/fonts/now/Now-Black.otf');
}

/* html and body */
html,body, footer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* header information */
header {
    background-image: linear-gradient(180deg,rgba(5,20,1,0.6) 0%,rgba(5,20,1,0.6) 100%), url('../assets/images/backgrounds/background-6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 55vh;
    max-height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* header left */
header .left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo "J." */
header .left h1 {
    color: #5ce1e6;
    font-family: 'glacial-regular';
    font-size: 7em;
    margin: 0;
    min-width: max-content;
}

/* logo "sort" */
header .left span {
    color: white;
    font-family: 'now-black';
}

/* baseline du logo */
header .left h3 {
    color: #5ce1e6;
    font-family: 'glacial-regular';
}

/* header buttons alignment*/
.header-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
    column-gap: 5px;
}

/* header button qualities */
header button {
    width: fit-content;
    background-color: transparent;
    border: 1px solid #5ce1e6;
    color: white;
    font-family: 'glacial-regular';
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;   
}

/* left side link for buttons */
.left a {
    text-decoration: none;
    border: none;
    color: white;
}

/* header button activate */
.left button:hover {
    background-color:#5e17eb;
    border: 1px solid #5e17eb;
}

.left a:hover, :visited, :active {
    color: white;
}


/* header right */
.right {
    width: 48%;
    display: flex;
    justify-content: flex-end;
}

#wrapper {
    overflow: hidden;
}

/* header navigation sidebar MENU */
.menu {
    background-color: #5ce1e6;
    background-image: linear-gradient(335deg, #5ce1e6 0%, #5e17eb 74%);
    box-sizing: border-box;
    transition: all 250ms;
    transform: translateZ(0) translateX(400%);
    text-align: center;
    padding-bottom: 0.5em;
}

.menu p {
    margin-top: -30px;
    margin-bottom: 0px;
    float: right;
    color: #5ce1e6;
    padding-right: 10%;
}

/* h2 title in menu */
.menu h2{
    font-family: 'now-black';
    font-size: 1.5em;
    color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 1em;
}

/* list section in menu */
ul{
    padding-left: 2%;
    list-style: none;
    font-family: 'glacial-italic';
}

/* list items in menu */
li{
    padding: 1em;
}

/* link to pages in menu */
.menu a{
    text-decoration: none;
    padding: 0.5em 0.5em;
    color: white;
    letter-spacing: 2px;
}

/* link to pages hover */
header a:hover {
    font-weight: bolder;
}

.content {
    position: relative;
}

.right .button {    
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 50px;
    cursor: pointer;
}


/* menu lines when inactive */
.line {
    width: 30px;
    height: 4px;
    background-color: #5ce1e6;
}

.line.first {
    transform: translateX(20px) translateY(14px) rotate(0deg);
}

.line.second {
    transform: translateX(20px) translateY(18px) rotate(0deg);
}

.line.third {
    transform: translateX(20px) translateY(22px) rotate(0deg);
}

/* transition to active */
.active {
    transform: translateZ(0) translateX(0);
    transition: 0.4s;
}

.button.on .line.first, .button.on .line.second, .button.on .line.third {
    transform: translateX(60px) translateY(12px) rotate(45deg);
    background-color: transparent;
}


/* main */
main {
    width: 80%;
    max-width: 1300px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    padding-top: 2em;
}

/* buttons at bottom of sections */
.bottom-of-section-button {
    float: right;
    width: fit-content;
    background-color: transparent;
    border: 1px solid #5e17eb;
    color: white;
    font-family: 'glacial-regular';
    text-align: center;
    font-size: 1em;
    padding: 0.5em;  
    margin-top: 2em;
    margin-bottom: 2em; 
}

.bottom-of-section-button a {
    text-decoration: none;
    color: #5e17eb;
}

/* buttons at bottom of sections active */
.bottom-of-section-button:hover {
    background-color:#5e17eb;
    border: 1px solid #5e17eb;
}

.bottom-of-section-button a:hover{
    color: white;
}

/* section 1 categories */

/* section 1 main title h2 */
.section-1 h2{
    margin-top: 2em;
    color: #5e17eb;
    font-family: 'now-bold';
    font-size: 2em;
}

/* rows of category boxes  */
.categories {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: #5ce1e6;
    row-gap: 1em;
    padding-bottom: 1em;
}

/* category title */
.categories h2 {
    color: white;
    font-family: 'glacial-bold';
    font-size: 2em;
}

/* category square */
.square {
    height: 300px;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* restaurants */
.restaurant{
    background-image: linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url(../assets/images/categories/restaurant-1.jpeg);
}

/* bars */
.bar{
    background-image: linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url(../assets/images/categories/bar-1.jpg);
}

/* parks */
.park{
    background-image: linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url(../assets/images/categories/park-5.webp);
}

/* category link to category page */
.categories a{
    width: 29%;
    min-width: 242px;
    text-decoration: none;
    transition: transform .2s;
}

/* category link active */
.categories a:hover {
    box-shadow: 1px 1px 1px 1px gray;
    transform: scale(1.1);
}


/* section 2 cities*/

/* section 2 main title h2 */
.section-2 h2{
    margin-top: 2em;
    color: #5e17eb;
    font-family: 'now-bold';
    font-size: 2em;
}

/* row of city tabs */
.city-tabs {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* city tab qualities */
.city-tabs .tab{
    width: 29%;
    height: 400px;
    min-width: 200px;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* paris */
#paris {
    background-image:linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url("../assets/images/cities/paris-1.jpg");
}

/* bordeaux */
#bordeaux { 
    background-image:linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url("../assets/images/cities/bordeaux-1.jpg");
}

/* marseille */
#marseille {
    background-image:linear-gradient(180deg, rgba(0,212,255,0.46124387254901966) 34%, rgba(9,9,121,1) 92%), url("../assets/images/cities/marseille-1.jpg");
}

/* city title h2 */
.city-tabs h2 {
    font-family: 'now-black';
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* city button */
.city-tabs .tab button {
    width: max-content;
    height: max-content;
    font-family: 'glacial-regular';
    background-image: linear-gradient(147deg,#5e17eb 0%,#5ce1e6 100%);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding : 0.5em;
    font-size: 1em;
    margin: 1em;
}

/* city button link to city page */
.city-tabs a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

/* city button actived by hover */
.city-tabs button:hover {
    background-image: none;
    background-color: white;  
}

.city-tabs a:hover {
    color:#5e17eb;
}


/* responsive design */


/* tablet 768 to 1024 */
@media screen and (min-width: 768px) and (max-width: 1024px) {    

    /* header left */
    header .left {
        width: 30%;
    }

    /* header right */
    .right {
        width: 30%;
    }

    /* header buttons alignment*/
    .header-buttons {
        justify-content: center;
        row-gap: 10px;
    }

    main{
        padding-left: 2%;
        padding-right: 2%;
        width: auto;    
    }

    .section-2 {
        margin-top: 12%;
    }

    .city-tabs .tab {
        width: 28%;
    }


}

/* telephone mobile under 768 */
@media screen and (max-width: 768px) {
    
    header {
        min-height: 37vh;
        max-height: 45vh;
    }

    header .left h1 {
        font-size: 3em;
    }

    header .left h3 {
        text-align: center;
    }

    .header-buttons {
        row-gap: 5px;
    }

    .square {
        margin: 0px;
        height: 200px;
    }

    .section-2 {
        margin-top: 25%
    }

    .city-tabs .tab {
        margin: 0.5em;
        min-width: 80%;
        height: 200px;
    }

}







nav{
    text-decoration: none;
}